# Generate a Zone Neighbor Map
Returns a list one row for each zone (index) and a list with the direct neighbors as the value.

In [35]:
# imports
import pandas as pd
import geopandas as gpd
import numpy as np
import h3

In [36]:
# constants
H3_RESOLUTION = 8
INPUT_DATA_PATH = '../processed_data/grid_cells_list.pickle'
OUTPUT_DATA_PATH = '../processed_data/grid_cells_neighbors_list.pickle'

In [37]:
df = pd.read_pickle(INPUT_DATA_PATH)
df.head()

        grid_index                                           geometry
0  881faa4485fffff  ((48.833396536059425, 9.050864230899897), (48....
1  881faa4487fffff  ((48.83200932584397, 9.062893592658527), (48.8...
2  881faa4493fffff  ((48.84129862635126, 9.10439595805226), (48.83...
3  881faa4497fffff  ((48.83526513835251, 9.095673690358426), (48.8...
4  881faa44b1fffff  ((48.82319564428952, 9.078234669656075), (48.8...

In [38]:
df['neighbors'] = df['grid_index'].apply(
    lambda x: h3.grid_ring(x, 1)
)
df.drop(columns=['geometry'], inplace=True)
df.head()

        grid_index                                          neighbors
0  881faa4485fffff  [881faa448dfffff, 881faa44e3fffff, 881faa44a9f...
1  881faa4487fffff  [881faa4481fffff, 881faa4485fffff, 881faa44abf...
2  881faa4493fffff  [881faa449bfffff, 881faa4491fffff, 881faa4497f...
3  881faa4497fffff  [881faa4491fffff, 881faa4495fffff, 881faa44bbf...
4  881faa44b1fffff  [881faa44b9fffff, 881faa44bdfffff, 881faa44b5f...

In [39]:
# save the dataframe to a pickle file
df.to_pickle(OUTPUT_DATA_PATH)